@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  src: url(../public/Inter-Regular.otf);
  font-display: swap;
}

body {
  font-family: Inter, sans-serif;
}
